 
html,body{
	float: center;
	margin:0 !important;
	padding: 0;
    text-align:center !important;
    max-width: 100%;
    overflow-x: hidden;
}








/*--------------------------------- Nav bar -----------------------------------
 ------------------------------------------------------------------------------*/    

/*.navigation-bar{
	position: fixed;
	z-index: 100;
	background-color: #E30421;
	display: block;
	text-align: center;
	border-bottom: 3px solid white;
	padding-top: 1em; 	
}
	
.navigation-menu{
	width: 100%;
}

.navigation-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation-list li{
	display: inline-block; 
    vertical-align: bottom;
    bottom: 0;
}

.navigation-list li a{
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	color: white;
	font-weight: 100;
	padding-left: 5em;
	display: block;
	line-height: 2.5em;
	 -webkit-transition: all .5s ease;
	 -moz-transition: all .5s ease;
	 -o-transition: all .5s ease;
	 -ms-transition: all .5s ease;
	 transition: all .5s ease;
}

.navigation-list a:hover{
	color: #404041;
	text-decoration: none;
}





*/



/*--------------------------------- About -------------------------------------
 ------------------------------------------------------------------------------*/   

.about{
	padding-top: 4em;
}

.about-image{
	max-width: 100%;
}


.about-text-bold{
	font-family:'Abel', sans-serif;
	font-size: 20px;
	color: #404041;
	line-height: normal;
	text-align: left;
	font-weight: bold;
}

.about-text{
	font-family:'Abel', sans-serif;
	font-size: 17px;
	color: #404041;
	line-height: normal;
	text-align: left;
	padding-left: .2em;
	padding-right: .2em;
}

.heading{
	font-family:'Homemade Apple', cursive;
	font-size: 35px;
	color: #E30421;
	line-height: normal;
	padding-top: 1.4em;
	font-weight: 200;
	text-align: left;
}

.text-bold{
	font-family:'Abel', sans-serif;
	font-size: 20px;
	color: #404041;
	line-height: normal;
	text-align: left;
	font-weight: bold;
}

.text{
	font-family:'Abel', sans-serif;
	font-size: 17px;
	color: #404041;
	line-height: normal;
	text-align: left;
}

#red{
	color: #E30421;
}



/*----------------------------------- Products ----------------------------------
 ------------------------------------------------------------------------------*/ 

.products{
	padding-top: 4em;
}

.products-image{
	 max-width: 100%;
	 border-top: 3px solid #E30421;
}

.invitations{
	display: block;
    text-align: left !important;
    padding-left: .2em;
	padding-right: .2em;
}

.invitations-menu{
	border-bottom: 1px dotted #E30421;
	padding-bottom: 2em;
	padding-top: 1em;
}

.products-text{
	display: block;
	text-align: left;
	padding-left: .2em;
	padding-right: .2em;	
}

.sub-heading{
	font-family:'Abel', sans-serif;
	font-size: 25px;
	color: #404041;
	line-height: normal;
	text-align: left;
}

.category{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: #404041;
	line-height: normal;
	padding-top: .5em;
	text-align: left;
	padding-top: 1em;
}

.handmade{
	display: block;
    text-align: left !important;
    padding-top: 3em;
    padding-left: .2em;
	padding-right: .2em;
}

.handmade-menu{
	text-align: left !important;
	list-style-type: none;
}

.handmade-menu{
	padding-bottom: 1.5em;
	padding-top: 1em;
}

.handmade img{
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}







/*--------------------------------- Graphic Design ----------------------------
 -----------------------------------------------------------------------------*/

.graphic-design{
	padding-top: 4em;
	display: block;
    border-bottom: 3px solid #E30421;
}

.graphic-design-image{
    border-top: 3px solid #E30421;
	max-width: 100%;
}

.graphic-design-text{
	display: block;
	width: 100%;
	text-align: left;	
	padding-left: .2em;
	padding-right: .2em;
	padding-bottom: 4em;
}





/*--------------------------------- Contact -----------------------------------
 -----------------------------------------------------------------------------*/
 
.contact{
	display: block;
	padding-top: 1em;
	padding-bottom: 4em;
}

.contact-heading{
	font-family:'Homemade Apple', cursive;
	font-size: 35px;
	color: #E30421;
	line-height: normal;
	padding-top: 1.4em;
	font-weight: 200;
	text-align: left;
}

.contact-text-bold{
	font-family:'Abel', sans-serif;
	font-size: 20px;
	color: #404041;
	line-height: normal;
	text-align: left;
	font-weight: bold;
	padding-left: .2em;
	padding-right: .2em;}

.contact-text{
	font-family:'Abel', sans-serif;
	font-size: 17px;
	color: #404041;
	line-height: normal;
	text-align: left;
	display: block;
	width: 100%;
	padding-left: .2em;
	padding-right: .2em;
	padding-bottom: 1em;

}

.pricelist a{
	font-family:'Abel', sans-serif;
	font-size: 20px;
	color: #E30421;
	line-height: normal;
	text-align: left;
	font-weight: bold;
	padding-left: .2em;
	padding-right: .2em;
}

.pricelist a:hover{
	color: #404041;
	text-decoration: none;
}

.contact-buttons{
	display: block;
	width: 100%;
    text-align: center !important;
}	

.contact-buttons ul{
	text-align: center;
	list-style: none;
	padding: 0 !important;
	vertical-align: baseline;
	margin: 0;	
}

.contact-buttons li{
	display: inline-block; 
    text-align: center;
}

#email{
	padding: 2em 0 2em 0;
}

#phone{
	padding: 1em 3em 2em 3em;
}

#facebook{
	padding: 1em 3em 2em 3em;
}

#stockists{
	padding: 1em 3em 2em 3em;
}

.contact-buttons a{
	border-radius: 6em;
	width: 6em;
	height: 6em;
	background-color: #E30421;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .5s ease;
	 -moz-transition: all .5s ease;
	 -o-transition: all .5s ease;
	 -ms-transition: all .5s ease;
	 transition: all .5s ease;
}

.contact-buttons a:hover{
	background-color: #404041;
}

.contact-buttons p{
	color: #E30421;
	font-family:'Abel', sans-serif;
	font-size: 15px;
	text-align: center;
	padding-top: 10px;
}

i.ss-icon{
	color: white;
	font-size: 35px;
	text-align: center;
	line-height: 95px;
}

.stockists{
	display: inline;
	width: 100%;
    text-align: center !important;
}	

.stockists ul{
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 0 !important;
}

.stockists li{
    text-align: center;
}




/*--------------------------------- Modal -------------------------------------
 -----------------------------------------------------------------------------*/



.modal-body{
	padding: 0;
	overflow-y: hidden;
	left:0;
	max-height: 50em;
}

.modal-header{
	height: 70px;
}

.carousel-caption{
	background: #E30421;
	height: 20px;
}

.carousel-text{
	font-family:'Abel', sans-serif;
	font-size: 15px;
	color: white;
	padding-right: 1em;
	line-height: normal;
	text-align: right;
}

.btn{
	vertical-align: bottom;
}
	
.btn a:hover, a:active {
	outline: none;
}

.modal-heading{
	font-family:'Homemade Apple', cursive;
	font-size: 30px;
	color: #E30421;
	line-height: normal;
	padding-top: .5em;
	padding-left: 2em;
	font-weight: 100;
	text-align: left;
}

.close{
	font-size: 30px;
	color: #E30421;
	opacity: 10;
}


}

/*--------------------------------- Footer -----------------------------------
 -----------------------------------------------------------------------------*/
 .footer{
	height: 20%;
	background-color: #E30421;
	text-align: justify;
	padding-left: 4em;
	padding-right: 4em;
	vertical-align: middle;
}

.footer-text{
	font-family:'Abel', sans-serif;
	margin-top: 6px;
	font-size: 14px; 
	color: white;
	float: left;	
}

.aurora{
	color: white;
	font-family:'Abel', sans-serif;
	font-size: 14px;
	float: right;
	padding-top: .4em;
}
	
.aurora a{
	color: white;
}

.footer a:hover{
	color: #404041;
	text-decoration: none;
}


/*---------------------------- Boostrap CSS Overides ---------------------------
 -----------------------------------------------------------------------------*/
 
 
.btn {
  *display: inline;
  display: block;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: white;
  background-image: none;
  padding: 0;
  margin: 0;
  text-shadow: 0;
  box-shadow: none;
  border-bottom-color: none;
  webkit-box-shadow: none;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}


.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  outline: none;
  -webkit-filter: opacity(.65);
  -moz-filter: opacity(.65);
  -o-transition-filter: opacity(.65);
  -ms-transition-filter: opacity(.65);
  transition-filter: opacity(.65);
  opacity: .65;
}
 
.btn:active,
.btn.active {
  border: none;
  outline: none;
} 
 
.btn:first-child {
  border: none;
  outline: none;
} 
 
.btn:hover {
  text-decoration: none;
  background-color: white;
  color: white;
  -webkit-filter: opacity(.65);
  -moz-filter: opacity(.65);
  -o-transition-filter: opacity(.65);
  -ms-transition-filter: opacity(.65);
  transition-filter: opacity(.65);
  opacity: .65;
} 
 
.btn.active,
.btn:active {
  border: none;
  outline: none;
}

.btn.disabled,
.btn[disabled] {
  border: none;
  outline: none;
}




.navbar .container{
  width: 100%;
  display: block;
  padding-left: 5em;
  padding-right: 5em;
}

.navbar {
  *position: relative;
  *z-index: 100;
  max-width: 100%;
}

.navbar .nav {
  float: left;
  padding-top: 4em;
}

.navbar-inner {
  min-height: 40px;
  background-color: #E30421;
  background-image: none;
  border-color: none;
  text-align: center;
  padding-top: 1em;
  box-shadow: none;
}

.brand {
  display: inline-block;
  background: url('img/white-logo.png') no-repeat;
  background-size: 14em;
  width: 14em;
  height: 5em;
  float: right !important;
  margin: 0;
  padding-right: 5em;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.navbar .brand {
 padding: 0;
} 
  
.navbar-inverse .navbar-inner {
  background-color: #E30421;
  background-image: none;
  border-color: none;
  border-bottom: 3px solid white;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: white;
  text-shadow: none;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 100;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  float: center;
}

.navbar .nav > li > a {
  padding: 10px 40px 10px;
}

.navbar-inverse 
.navbar-inverse .nav > li {
  float: left;
  display:inline-block;
  *display:inline;
  vertical-align: bottom;
  margin:0 auto;
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover {
  color: #404041;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  color: #404041;
  background-color: transparent;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #404041;
  background-color: transparent;
}


.navbar .btn-navbar{
	background: white;
	background-image: none;
	color: #E30421;
	box-shadow: none;
	text-shadow: none;
	margin-top: 0em;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

.navbar .btn-navbar:hover{
	background: white;
	color:  #404041;
	opacity: 1;
}




@media (min-width: 768px) and (max-width: 979px) {

	.navbar-fixed-top{
		margin-bottom: 0;
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: fixed;	
	}
	.brand{
		float: left !important; 
	}
	.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
		color: white;
	}
	
	.nav-collapse{
		text-align: right;
		float:	right;	
	}

	.nav-collapse .nav > li > a, 
	.nav-collapse .dropdown-menu a {
		margin: 0;
		padding-right: 0;
		padding-left: 0;
		padding-top:.2em;
		padding-bottom: .2em;
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
	    font-weight: 100;	
	}
	
	.navbar-inverse .nav-collapse .nav > li > a:hover,
	.navbar-inverse .nav-collapse .dropdown-menu a:hover {
	    background-color: transparent;
	    color: #404041;
	}
	
	 .footer{
	height: 4em;
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 2em;
	}
	
		.modal.fade{
		margin: 0;
		padding: 0;
     position: absolute;
     top: 50%;
     max-width:550px;
     text-align:center;
	 }
}


@media (max-width: 767px){
		html,body{ 
	  padding-left: .5em;
	  padding-right: .5em;
    }
 
	.navbar {
	    margin-left: auto;
	    margin-right: auto;
  	}
  	
  	.navbar .btn-navbar{
	  	float: right;
	  	margin-top: 0em;
}
	.navbar-fixed-top{
		margin-bottom: 0;
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: fixed;	
	}

	.navbar .brand{
		padding-right: 2em;
	}
	.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
		color: white;
		padding-right: 2em;

	}
	
	.nav-collapse{
		text-align: right;
		float:	right;	
	}

	.nav-collapse .nav > li > a, 
	.nav-collapse .dropdown-menu a {
		margin: 0;
		padding-right: 0;
		padding-left: 0;
		padding-top:.2em;
		padding-bottom: .2em;
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
	    font-weight: 100;	
	}
	
	.navbar-inverse .nav-collapse .nav > li > a:hover,
	.navbar-inverse .nav-collapse .dropdown-menu a:hover {
	    background-color: transparent;
	    color: #404041;
	}
	
	.footer{
	height: 4em;
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 2em;
	text-align: center;
	}
	
	.modal.fade{
     position: absolute;
     left: 100%;
     top: 39%;
     max-width:400px;
     text-align:center;
	 }
}






@media (max-width: 480px){
	html,body{ 
	  padding-left: .5em;
	  padding-right: .5em;
    }
 
	.navbar {
	    margin-left: auto;
	    margin-right: auto;
  	}
  	
  	.navbar .container{
	  	padding-left: 2em;
	  	padding-right: 2em;
  	}
  	
  	.navbar .btn-navbar{
	  	float: right;
	  	margin-top: 0em;
	}
	
	.navbar-fixed-top{
		margin-bottom: 0;
	}
	
	
	.navbar .brand{
		padding-left: 0em;
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: fixed;	
	}
	
	.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
		color: white;
		padding-right: 2em;
	}
	
	.nav-collapse{
		text-align: right;
		float:	right;	
	}

	.nav-collapse .nav > li > a, 
	.nav-collapse .dropdown-menu a {
		margin: 0;
		padding-right: 0;
		padding-left: 0;
		padding-top:.2em;
		padding-bottom: .2em;
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
	    font-weight: 100;	
	}
	
	.navbar-inverse .nav-collapse .nav > li > a:hover,
	.navbar-inverse .nav-collapse .dropdown-menu a:hover {
	    background-color: transparent;
	    color: #404041;
	}
	.footer{
	height: 4em;
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 2em;
	text-align: center;
	}
} 




@media (min-width: 1200px) { 
.modal{
    width: 1000px;
    margin-left: -500px;}
 }
 
/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) { 
.modal{
    width: 700px;
    left: 110px;}
 }
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
.modal{
    width: 550px;
    margin-left: -225px;}   
 }
/* Landscape phones and down */
@media (max-width: 480px) { 
.modal{
    width: 300px;
    margin-left: -310px;}
 }