html,body{
	float:none;
	margin:0 auto !important;
    text-align:center !important;
    width: 100%;
}

.background-red{
	background-color: white;
	z-index: 1;
}

.background-white{
	background-color: white;
	z-index: 50;
}


ul{
	margin: 0 0 0 0;
}
/*--------------------------------- Nav bar -----------------------------------
 ------------------------------------------------------------------------------*/    

.navigation-bar{
	position: fixed;
	z-index: 100;
	background-color: #E30421;
	display: block;
	text-align: center;
	margin: 0;
	padding: 0;
	border-bottom: 3px solid white; 	

}
	
.navigation-menu{
	width: 100%;
	margin: 0;
}

.navigation-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation-list li{
	display: inline-block; 
    vertical-align: bottom;
}

.navigation-list a{
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	color: white;
	font-weight: 100;
	padding-right: 45px;
	padding-left: 45px;
	display: inline;
	line-height: 42px;
}

.navigation-list a:hover{
	color: #404041;
	text-decoration: none;
}

.logo{
	padding-top: 1%;
}

.logo img{
	max-height: 110px;
	margin-left: 100px;
	margin-right: 30px;
}





/*--------------------------------- About -------------------------------------
 ------------------------------------------------------------------------------*/   

.about{
border-bottom: 3px solid #E30421;
}

.about-image{
	 padding-top: 5.3%;
	 max-width: 100%;
}


.about-text-bold{
	font-family:'Abel', sans-serif;
	font-size: 20px;
	color: #404041;
	line-height: normal;
	text-align: left;
	font-weight: bold;
}

.about-text{
	font-family:'Abel', sans-serif;
	font-size: 17px;
	color: #404041;
	padding-bottom: 3%;
	line-height: normal;
	text-align: left;
}

.heading{
	font-family:'Homemade Apple', cursive;
	font-size: 35px;
	color: #E30421;
	line-height: normal;
	padding-top: 4%;
	padding-bottom: 0%;
	font-weight: 200;
	text-align: left;
}

.text-bold{
	font-family:'Abel', sans-serif;
	font-size: 20px;
	color: #404041;
	line-height: normal;
	text-align: left;
	font-weight: bold;
}

.text{
	font-family:'Abel', sans-serif;
	font-size: 17px;
	color: #404041;
	padding-bottom: 3%;
	line-height: normal;
	text-align: left;
}





/*----------------------------------- Products ----------------------------------
 ------------------------------------------------------------------------------*/ 

.products{
	border-bottom: 3px solid #E30421;
}

.products-image{
	 max-width: 100%;
}

.invitations{
	display: block;
	width: 100%;
    text-align: left !important;
}

.invitations-menu{
	padding-bottom: 1%;
	float:none;
	margin:0 auto;
	text-align: left !important;
	border-bottom: 1px dotted #E30421;
}

.invitations-menu ul{
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.invitations-menu li{
	display: inline-block; 
    text-align: center;
    padding: 3% 4% 2% 0%;
}

.invitations-menu li img{
	max-height: 220px;
	padding-bottom: 5%;
	padding-top: 3%;
	border-top: 1px solid #404041;
	border-bottom: 1px solid #404041;
}

.products-text{
	display: block;
	width: 100%;
	text-align: left;	
}


.sub-heading{
	font-family:'Abel', sans-serif;
	font-size: 25px;
	color: #404041;
	line-height: normal;
	text-align: left;
}

.category{
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	color: #404041;
	line-height: normal;
	padding-top: 5%;
}

.handmade{
	display: block;
	width: 100%;
    text-align: left !important;
    padding-top: 4%;
}

.handmade-menu{
	float: none;
	margin: 0 auto;
	text-align: left !important;
}

.handmade-menu ul{
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
}

.handmade-menu li{
	display: inline-block; 
    padding: 3% 4% 2% 0%;
    margin: 0;
}

.handmade-menu li img{
	max-height: 220px;
	border-top: 1px solid #404041;
	border-bottom: 1px solid #404041;
	padding-bottom: 5%;
	padding-top: 3%;
}





/*--------------------------------- Graphic Design ----------------------------
 -----------------------------------------------------------------------------*/

.graphic-design{
	display: block;
    border-bottom: 3px solid #E30421;
}

.graphic-design-image{
	max-width: 100%;
}

.graphic-design-text{
	display: block;
	width: 100%;
	text-align: left;	
}





/*--------------------------------- Contact -----------------------------------
 -----------------------------------------------------------------------------*/
 
.contact{
	display: block;
	margin: 0;
	padding: 0;
}

.contact-heading{
	font-family:'Homemade Apple', cursive;
	font-size: 35px;
	color: #E30421;
	line-height: normal;
	padding-top: 4%;
	padding-bottom: 0%;
	font-weight: 200;
	text-align: left;
}

.contact-text-bold{
	font-family:'Abel', sans-serif;
	font-size: 20px;
	color: #404041;
	line-height: normal;
	text-align: left;
	font-weight: bold;
	margin-left: -5%;
}

.contact-text{
	font-family:'Abel', sans-serif;
	font-size: 17px;
	color: #404041;
	padding-bottom: 3%;
	line-height: normal;
	text-align: left;
	margin-left: -5%;
}

.contact-buttons{
	display: block;
	width: 100%;
    text-align: center !important;
    margin-left: 0;
}	

.contact-buttons ul{
	text-align: center;
	list-style: none;
	padding: 0 !important;
	margin: 0;
	width: 100%;
	vertical-align: baseline;
}

.contact-buttons li{
	display: inline-block; 
    text-align: center;
}

#email{
	padding: 2% 0 2% 0%;
}

#phone{
	padding: 1% 2% 2% 2%;
}

#facebook{
	padding: 1% 2% 2% 2%;
}

#stockists{
	padding: 1% 2% 2% 2%;
}

.contact-buttons a{
	border-radius: 70px;
	width: 70px;
	height: 70px;
	background-color: #E30421;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}

.contact-buttons a:hover{
	background-color: #404041;
}

.contact-buttons p{
	color: #E30421;
	font-family:'Abel', sans-serif;
	font-size: 15px;
	text-align: center;
	padding-top: 10px;
}

i.ss-icon{
	color: white;
	font-size: 35px;
	text-align: center;
	line-height: 80px;
}

.stockists{
	display: inline;
	width: 100%;
    text-align: center !important;
    }	

.stockists ul{
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 0 !important;
}

.stockists li{
    text-align: center;
}

.modal-body{
	padding: 0;
	max-height: 100%;
	
}

.modal.fade{
     position: fixed;
     left: 39%;
     top: 100%;
     width:1000px;
     text-align:center;
}


.carousel-caption{
	background: #E30421;
	height: 20px;
}

.carousel-text{
	font-family:'Abel', sans-serif;
	font-size: 18px;
	color: white;
	padding-right: 3%;
	line-height: normal;
	text-align: right;
}

.btn{
	vertical-align: bottom;
}
	


.btn a:hover, a:active {
	outline: none;
}


.modal-heading{
	font-family:'Homemade Apple', cursive;
	font-size: 30px;
	color: #E30421;
	line-height: normal;
	padding-top: 1%;
	padding-left: 3%;
	font-weight: 200;
	text-align: left;
}

.close{
	font-size: 30px;
	color: #E30421;
	opacity: 10;
}


/*-------Footer---------*/
.footer{
	height: 20%;
	background-color: #E30421;
	width: 100%;
	text-align: right;
	padding-top: .5%;
	padding-right: 4%;
}

.footer-text{
	font-family:'Abel', sans-serif;
	margin-top: 6px;
	font-size: 14px; 
	color: white;
}

.aurora{
	padding-left: 70%;
	color: white;
	font-family:'Abel', sans-serif;
	font-size: 14px;
}
	
.aurora a{
	color: white;
}

.footer a:hover{
	color: #404041;
	text-decoration: none;
}