

/*-------Navigation-------*/    
.navigation-bar{
	position: fixed;
	z-index: 100;
	background-color: white;
	opacity: .9;
	border-bottom: 5px solid #E30421;
	display: block;
	text-align: center;
	height: 100px;
}
	
.navigation-list ul{
	list-style: none;
	vertical-align: baseline;
	padding: 0;
	margin: 0;
}

.navigation-list li{
	display: inline-block; 
    text-align: center;
    vertical-align: bottom;
}


.navigation-list a{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #404041;
	font-weight: 100;
	padding-right: 70px;
	padding-left: 70px;
	display:inline;
	line-height: 40px;
}

.navigation-list a:hover{
	color: #E30421;
	opacity: .7;
	text-decoration: none;
}

.logo{
	padding-top: 10px;
}

.logo img{
	max-height: 90%;
	margin-left: 70px;
	margin-right: 70px;
}


/*-------Home-------*/    


.home-image{
	 padding-top: 100px;
}





/*-------About-------*/    

.about{
	height: 500px;
	border-top: 40px solid #404041;
	border-bottom: 3px solid #E30421;
}

.about-branches img{
	max-height: 100%;
	overflow: hidden;
	display: block;
}

.heading {
	font-family:'Raleway', sans-serif;
	font-size: 40px;
	color: #E30421;
	line-height: normal;
	padding: 80px 250px 15px 100px;
	font-weight: 200;
}

.text{
	font-family:'Abel', sans-serif;;
	opacity: .7;
	font-size: 20px;
	color: #404041;
	padding: 0px 250px 40px 100px;
	line-height: normal;
}


/*-------Products-------*/ 

.products-text{
	border-top: 40px solid #404041;
	border-bottom: 3px solid #E30421;}

.sub-heading{
	font-family:'Raleway', sans-serif;
	font-size: 30px;
	color: white;
	line-height: normal;
	padding: 80px 250px 15px 120px;
	font-weight: 200;

}

.category{
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	color: white;
	line-height: normal;
	padding-top: 10px;
}

.invitations{
	background-color: #E30421;
	border-bottom: 1px solid white;
}

.invitations-menu{
	display: table;
	padding-left: 60px;
	
}
.invitations-menu ul{
	text-align: center;
	list-style: none;
}

.invitations-menu li{
	display: inline-block; 
    text-align: center;
    padding: 20px 10px 20px 10px;
}

.invitations-menu li img{
	border: 3px solid white;
}

.handmade{
	background-color: #E30421;
	border-bottom: 3px solid white;
}

.handmade-menu{
	display: table;
	padding-left: 60px;
	
}
.handmade-menu ul{
	text-align: center;
	list-style: none;
}

.handmade-menu li{
	display: inline-block; 
    text-align: center;
    padding: 20px 10px 20px 10px;
}

.handmade-menu li img{
	border: 3px solid white;
}